/.editorconfig export-ignore
/.gitattributes export-ignore
/.gitignore export-ignore
/.github/ export-ignore
/ecs.php export-ignore
/Makefile export-ignore
/phpstan* export-ignore
/rector.php export-ignore
