includes:
    - phpstan.baseline.neon
    - .Build/vendor/symplify/phpstan-rules/config/array-rules.neon
    - .Build/vendor/symplify/phpstan-rules/config/forbidden-static-rules.neon
    - .Build/vendor/symplify/phpstan-rules/config/regex-rules.neon

parameters:
    phpVersion: 70400
    level: 9
    cognitive_complexity:
        class: 10
        function: 6
    paths:
        - Classes

services:
    -
        class: Symplify\PHPStanRules\Rules\ForbiddenFuncCallRule
        tags: [phpstan.rules.rule]
        arguments:
            forbiddenFunctions:
                - eval
                - dump
                - die
                - compact
                - var_dump
    -
        class: Symplify\PHPStanRules\Rules\ForbiddenNodeRule
        tags: [phpstan.rules.rule]
        arguments:
            forbiddenNodes:
                - PhpParser\Node\Expr\Empty_
                - PhpParser\Node\Stmt\Switch_
                - PhpParser\Node\Expr\ErrorSuppress
